{% extends '_layouts/base.njk' %}

{% block page_title %}New index page title{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
    <h1>The band</h1>
    <p class="author">By {% for author in authors %}
      <a href="{{ author.link }}" target="_blank">{{ author.name }}</a>{% if not loop.last %}{% if loop.revindex0 == 1 %} and {% else %}, {% endif %}{% endif %} {% endfor %}
      <br> Published {{ publish_date }}
    </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
        Lucas ipsum dolor <a href="detail-page.html">link to detail-page.html</a> amidala sith dooku solo moff organa obi-wan windu. Gamorrean binks wedge darth. Mon darth mon kit ponda solo. Moff watto ackbar mothma moff anakin. Lando skywalker lars fett calrissian lars organa. Organa kenobi wedge darth jawa skywalker anakin. Twi'lek kit darth calamari lando kamino droid. Darth jawa fett grievous maul. Palpatine obi-wan leia tusken raider dagobah. Twi'lek qui-gon boba antilles yoda thrawn. Wampa luuke wampa skywalker. Moff ponda ackbar dagobah kit lobot jinn solo.
      </p>
  <div class="row">
    <div class="col-sm-6 col-md-3"> 
      <div class="card">
        <img class="card-img-top" src="img/members/freddie-mercury-bw.jpg" alt="Freddie Mercury" class="img-fluid">
      <div class="card-body">
        <h5 class="card-title">Freddie Mercury</h5>
        <a href="freddiemercury.njk" class="btn btn-primary">More Info</a>
      </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3"> 
      <div class="card">
        <img class="card-img-top" src="img/members/brian-may-bw.jpg" alt="Brian May" class="img-fluid">
      <div class="card-body">
        <h5 class="card-title">Brian May</h5>
        <a href="brianmay.njk" class="btn btn-primary">More Info</a>
        </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3"> 
      <div class="card">
        <img class="card-img-top" src="img/members/roger-taylor-bw.jpg" alt="Roger Taylor" class="img-fluid">
      <div class="card-body">
        <h5 class="card-title">Roger Taylor</h5>
        <a href="rogertaylor.njk" class="btn btn-primary">More Info</a>
      </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3"> 
      <div class="card">
        <img class="card-img-top" src="img/members/john-deacon-bw.jpg" alt="John Deacon" class="img-fluid">
      <div class="card-body">
        <h5 class="card-title">John Deacon</h5>
        <a href="johndeacon.njk" class="btn btn-primary">More Info</a>
      </div>
      </div>
    </div>
  </div>
      <div class="row">
        {% for discography in data.discography %}
            <div class="col-sm-12 col-md-6 col-lg-4">
                <img class="mr-3" src="img/discs/{{ discography.image }}" class="img-fluid">
                <div class="media-body">
                  <h3 class="discography-title">{{ discography.title }}</h3> 
                  <p class="discography-year">{{ discography.year }}</p>
                </div>
            </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
