.jumbotron.banner {
  background: url(../img/queen-band-wallpaper-thin.jpg) no-repeat center;
  background-size: cover;
  color: white;
  padding-top: 20rem
}

.jumbotron h1 {
  font-size: 75px;
  font-family: 'New Rocker,' cursive;
  text-align: right;
}

.jumbotron {
  margin-bottom: 30px;
  border-radius: 0;
}

@media (max-width: 575.98px) { 
  .jumbotron h1 {
    font-size: 40px;
  }
 }