/* nav */

.navbar {
  background-color: black;
}

.navbar-brand {
  font-family: 'New Rocker,' cursive;
  font-size: 25px;
}

.nav-item {
  font-family: 'Crimson Text', serif;
}

.dropdown-item {
  font-family: 'Crimson Text', serif;
  text-align: center;
}